<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tqzl.iot.modules.system.mapper.SysUserMenuMapper">


    <insert id="insertUserMenu">
        INSERT INTO
            tb_user_menu (
            name,
            menu,
            status)
        VALUES (#{name},
                #{menu},
                1)
    </insert>

    <update id="updateUserMenu">
        UPDATE tb_user_menu
        SET name = #{name},
            menu = #{menu},
            update_time = current_timestamp
        WHERE id = #{id}
    </update>

    <update id="deleteUserMenuById">
        Update tb_user_menu
        set update_time = current_timestamp ,
            status = 1
    </update>

    <select id="selectUserMenuById" resultType="com.tqzl.iot.common.core.model.bo.MenuBO">
        select id,
               name,
               menu,
               create_time,
               update_time,
               status
        from tb_user_menu
        where status = 1
          and name = #{name}
    </select>
</mapper>